name: Build PHP
run-name: Build PHP ${{ inputs.php-version }}
on:
  workflow_dispatch:
    inputs:
      php-version:
        description: 'PHP version to build'
        required: true
      upload:
        type: choice
        options: ['true', 'false']
        description: Upload artifacts to the downloads server
        required: false
        default: 'true'

jobs:
  php:
    strategy:
      matrix:
        arch: [x64, x86]
        ts: [nts, ts]
    runs-on: ${{ (inputs.php-version > '8.4' || inputs.php-version=='master') && 'windows-2022' || 'windows-2019' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        uses: ./php
        with:
          php-version: ${{ github.event.inputs.php-version }}
          arch: ${{ matrix.arch }}
          ts: ${{ matrix.ts }}

  artifacts:
    runs-on: ubuntu-latest
    needs: php
    outputs:
      artifact-id: ${{ steps.artifacts.outputs.artifact-id }}
    steps:
      - name: Upload artifacts
        uses: actions/upload-artifact/merge@v4
        id: artifacts
        with:
          name: artifacts
          delete-merged: true
  upload:
    runs-on: ubuntu-latest
    needs: artifacts
    if: ${{ github.event.inputs.upload == 'true' }}
    steps:
      - name: Upload to downloads server
        run: |
          url="https://api.github.com/repos/${{ github.repository }}/actions/artifacts/${{ needs.artifacts.outputs.artifact-id }}/zip"
          gh workflow run php.yml -R php/web-downloads -f url="$url" -f php-version=${{ inputs.php-version }}
        env:
          GITHUB_TOKEN: ${{ secrets.WINDOWS_BUILDS_TOKEN }}
